#page-wrap {
     margin-top: 25px;
     margin-right: 50px;
     margin-bottom: 800px;
     margin-left: 50px;
     background-color:#EFEFEF;
     padding: 25px;
     min-height: 1200px;
}

#inner-container {
  background-color: brown;
  margin: 0px;
  padding: -25px;
  min-height: 900px;
}

#tlogo {
  margin-top: 25px;
  padding: 10px;
}

#main {
  background-color: white;
  margin-top: -768px;
  margin-right: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
  padding: 15px;
  min-height: 500px;

  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 12px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px; 
}

.round {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 12px; 

  /* Firefox 1-3.6 */
  -moz-border-radius: 12px; 
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 12px; 
}

.navbar-nav>li>a {
  color: white;
  height: 70px;
  width: 120px;
}

#spaced-nav>li {
  border: beige solid;
  border-radius: 6px;
  background-color: #7A726B;
  margin: 1px;
  height: 78px;
}

.box1 {
  margin-top: 475px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #EFEFEF;
  padding: 15px;
  width: 140px;
  height: 130px;
  border-radius: 20px;
}

.box2 {
  margin-top: 475px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #EFEFEF;
  padding: 15px;
  width: 140px;
  height: 130px;
  border-radius: 20px;
}

.box3 {
  margin-top: 475px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #EFEFEF;
  padding: 15px;
  width: 140px;
  height: 130px;
  border-radius: 20px;
}